@use '../utilities/' as *;

/* Header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $bg-primary;
    z-index: 999;
    padding-inline: clamp(1rem, 0.318rem + 2.909vw, 2.5rem);

    &__container {
        display: grid;
        grid-template-columns: 1fr auto;
        padding-top: clamp(1.5rem, 1.045rem + 1.939vw, 2.5rem);
        padding-bottom: 1rem;
        gap: 1.25rem;

        max-width: 1360px;
        margin: 0 auto;
        width: 100%;

        transition: padding 500ms ease-in-out;

        @include breakpoint('md') {
            gap: 0;
        }

        &.on-scroll {
            padding-block: 1rem;
        }
    }

    &__nav {
        display: none;

        @media (min-width: 32.5rem) {
            display: block;
            transition: opacity 400ms ease-in-out;
        }

        &.on-scroll {
            opacity: 0;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;

        @include breakpoint('md') {
            justify-content: unset;
        }
    }

    &__item {
        @include breakpoint('md') {
            flex: 1;
        }
    }

    &__link {
        @media (min-width: 32.5rem) {
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 500;
            color: $c-black;
        }
    }

    &__menu {
        grid-column: 2;
    }
}